#sklikReklama_55033{
  display: none !important;
}
*{
  font-family: 'Play', sans-serif;
  margin: 0px;
}
#blackBackground{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 500;
  display: none;
}
.button{
  border: none;
  outline: none;
  color: white;
  background-color: #8C1914;
  padding: 8px 10px;
  width: 150px;
  margin: 10px 0px 30px 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.button:hover{
  background-color: #860D0A;
}
#categories{
  display:none;
}
.calendar_add_new{
  visibility: hidden;
}
#calendar_js{
  display: none;
  background-color: white;
  width: 300px;
  padding: 15px 5px;
  position:absolute;
  z-index: 10012;
}
.calendar_js_close{
  float: right;
  margin: 0px 5px 0px 0px;
  padding: 3px;
  position:relative;
  top: -12px;
  cursor: pointer;
  width: 14px;
  height: 14px;
}
.calendar_js_month{
  text-align: center;
  margin-bottom: 10px;
}
.calendar_js_month span{
  cursor: pointer;
  font-size: 0.85em;
  color: gray;
  vertical-align: middle;
  margin: 0px 8px;
}
.calendar_js_month a{
  text-decoration: none;
}
.calendar_js_table{
  border-collapse: collapse;
  width: 100%;
}
.calendar_js_table td{
  width: 14%;
  vertical-align: middle;
  text-align: center;
  height: 35px;
  border: 1px solid #860D0A;
}
.calendar_js_table_activeDay:hover{
  background-color: rgba(134,13,10,0.1);
  cursor: pointer;
}
.calendar_js_table_activeDay div{
  height: 100%;
  width: 100%;
}
.calendar_js_table_noDay{
  background-color:rgba(100,100,100,0.3);
}
.calendar_month{
  border-collapse: collapse;
  width: 60%;
  height: 75%;
}
.calendar_month th{
  height: 25px;
  font-size: 1.3em;
}
.calendar_month td{
  vertical-align: top;
  border: 1px solid #860D0A;
  width: 14.2%;
  height: 50px !important;
}
.calendar_month_dayname{
  font-weight: bold;
  height: 25px;
  text-align: center;
  border: none;
}
.calendar_month_date{
  border-right: 1px solid #860D0A;
  border-bottom: 1px solid #860D0A;
  background-color: rgba(134,13,10,0.1);
  font-weight: bold;
  margin: 0px;
  height: 22px;
  width: 22px;
  text-align: center;
  position:relative;
  top:-1px;
  left:-1px;
  position:relative;
  z-index: 5;
  display: inline-block;
  background-color: white;
}
.calendar_month_noDay{
  background-color: #f4f4f4;
}
.calendar_month_day_active:hover{
  background-color: rgba(134,13,10,0.2);
}
.calendar_month_day_active:hover .calendar_add_new{
  visibility: visible;
}
.calendar_month_day_active:hover .intim_calendar_month_upr{
  visibility: visible;
}
.calendar_month_day_active_empty{
  cursor: pointer;
}
.calendar_month_temperature{
  float: right;
  margin: 0px 2px 0px 12px;
  height: 18px;
  position:relative;
  z-index: 5;
}
.calendar_month_today{
  border: 3px solid #860D0A !important;
}
.calendar_month_mentruace_forecast{
  background-color: #ffe4b2;
}
.calendar_month_mentruace_1{
  background-color: #9dff9d;
}
.calendar_month_mentruace_2{
  background-color: #008900;
}
.calendar_month_mentruace0{
}
.calendar_month_mentruace1{
  background-color: #ffb2b2;
}
.calendar_month_mentruace2{
  background-color: #ff7f7f;
}
.calendar_month_mentruace3{
  background-color: #ff6666;
}
.calendar_month_mentruace4{
  background-color: #ff4c4c;
}
.calendar_month_mentruace5{
  background-color: #ff1919;
}
.calendar_term{
  margin: 20px 10px;
}
.calendar_week{
  border-collapse: collapse;
  width: 60%;
}

.calendar_week td{
  vertical-align: top;
  padding: 4px;
}
.calendar_week tr{
  border-bottom: 1px solid #860D0A;
}
.calendar_week tr:hover{
  background-color: rgba(134,13,10,0.1);
}
.calendar_week tr:hover .calendar_add_new{
  visibility: visible;
}
.calendar_week_date{
  width: 100px;
}
.calendar_week_dayname{
  margin-right: 10px;
  width:auto;
}
#calendar_week_header_date{
  width: 1.8em;
}
.comments_box_all{
  margin: 50px 0px 0px 0px;
}
.content{
  width: 60%;
}
.checkboxInput_div{
  vertical-align: middle;
  margin: 10px 0px 15px 50px;
}
.checkboxInput_div input{
  width: 25px;
  height: 25px;
  border: 1px solid #8C1914;
  outline: none;
}
.checkboxInput_subdiv{
  vertical-align: middle;
  margin: 10px 0px 15px 150px;
}
.checkboxInput_subdiv input{
  width: 25px;
  height: 25px;
  border: 1px solid #8C1914;
  outline: none;
}
#content{
  margin: 20px;
}
#contentbox{
  display: block;
  float: left;
  width: 80%;
}
.enroll_admin{
  border-collapse: collapse;
  width: 60%;
}
.enroll_admin th{
  text-align: left;
}
.enroll_admin td{
  padding:4px;
}
.enroll_admin tr{
  border-bottom: 1px solid #860D0A;
}
.enroll_admin tr:hover{
  background-color: rgba(134,13,10,0.1);
}
.enroll_admin_age{
  width: 40px;
  text-align:center;
  padding: 0px 8px;  
}
.enroll_admin_gender{
  width: 40px;
  text-align:center;
  padding: 0px 4px;
}
.entries_view_all{
  display: block;
  margin: 5px 0px 25px 0px;
  text-decoration: none;
  color: black;
}
.entry_text h1{
  border: none;
  font-size: 1.45em;
  margin: 10px 0px 15px 0px;
  text-decoration: none;
}
.entry_text h2{
  border: none;
  font-size: 1.35em;
  margin: 8px 0px 10px 10px;
  text-decoration: none;
}
.entry_text h3{
  border: none;
  font-size: 1.20em;
  margin: 5px 0px 5px 10px;
  text-decoration: none;
}
.entry_text h4{
  border: none;
  font-size: 1.1em;
  margin: 5px 0px 0px 10px;
  text-decoration: none;
}
.entry_text iframe{
  border: none;
}
#errors{
  background-color: #860D0A;
  border: 2px solid #8C1914;
  width: 60%;
  color: white;
  margin: 10px 0px 20px 0px;
}
#errors span{
  display: block;
  font-weight: bold;
  margin: 5px 7px;
}
#eventOrganisator{
  display: none;
}
.eventTable{
  vertical-align: top;
  border-collapse: collapse
}
.eventTable .eventTableDescription{
  width: 100px;
  text-align: right;
  vertical-align:top;
  font-weight: bold;
  padding: 5px 15px;
}
#grayBackground{
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.25);
   z-index: 1001;
   display: none;
 }
.intim_form_table{
  width: 100%;
  border-collapse: collapse
}
.intim_form_table td{
  vertical-align: top;
}
.intim_form_table_date{
  width: 20%;
  min-width: 100px;
}
.intim_form_table_date input{
  width: 100%;
  height: 38px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
}
.intim_form_table_date input:focus{
  background-color: rgba(134,13,10,0.1);
}
.intim_form_table_temperatur{
  width: 17%;
  min-width: 80px;
}
.intim_form_table_temperatur input{
  width: 100%;
  height: 38px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
}
.intim_form_table_temperatur select{
  width: 100%;
  height: 38px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
}
.intim_form_table_temperatur input:focus{
  background-color: rgba(134,13,10,0.1);
}
.intim_form_table_blood{
  width: 50%;
  min-width: 120px;
}
.intim_form_table_blood select{
  width: 100%;
  height: 38px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
}
.intim_form_table_submit input{
  border: none;
  outline: none;
  color: white;
  background-color: #8C1914;
  padding: 8px 10px;
  width: 150px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.intim_form_table_blood select:focus{
  background-color: rgba(134,13,10,0.1);
}
#intimCalendarNew{
  position: absolute;
  z-index: 1000;
  background-color: white;
  width: 50%;
  display: none;
  padding: 25px 15px;
  margin: 0px 0px 50px 0px;
}
.intimeYearActiveDay:hover{
  cursor:pointer;
  background-color: rgba(134,13,10,0.2);
}
#logo_homepage_unlog{
  margin: 5px 0px 10px 5px;
  max-width: 500px;
  width: 100%;
}
#intim_calendar_other{
  display: none;
}

.intim_year_blood_forecast{
  background-color: #ffe4b2;
}
.intim_year_blood_1{
  background-color: #9dff9d;
}
.intim_year_blood_2{
  background-color: #008900;
}
.intim_year_blood0{
}
.intim_year_blood1{
  background-color: #ffb2b2;
}
.intim_year_blood2{
  background-color: #ff7f7f;
}
.intim_year_blood3{
  background-color: #ff6666;
}
.intim_year_blood4{
  background-color: #ff4c4c;
}
.intim_year_blood5{
  background-color: #ff1919;
}
#intim_year_table{
  width: 60%;
  border-collapse: collapse;
}
#intim_year_table td{
  text-align: center;
  vertical-align: middle;
  width: 3%;
  border: 1px dotted lightgray;
}
.intim_year_none{
  background-color: lightgray;
}
.intim_year_headTable{
  font-weight: bold;
}

h1{
  pading: 25px 10px 13px 10px;
  margin: 0px 0px 10px 0px;
  border-bottom: 3px solid #8C1914;
}
h2{
  pading: 25px 10px 13px 10px;
  margin: 0px 0px 10px 0px;
  border-bottom: 2px solid #8C1914;
  width:60%;
}
h3{
  margin: 2px 5px 13px 5px;
  text-decoration: underline;
}
#header{
  background-color: #5f110e;
  height: 70px;
  width: 100%;
  display: block;
  color: white;
  -webkit-box-shadow: 0px 2px 3px black;
  -moz-box-shadow: 0px 2px 3px black;
  box-shadow: 0px 2px 3px black;
  position:relative;
  z-index: 300;
}
#header a{
  color: white;
  text-decoration: none;
}
#header .headerName{
  float: right;
  margin: 17px 15px 0px 10px;
  font-size: 25px;
}
#header .headerNotice{
  float: right;
  margin: 17px 15px 0px 10px;
  font-size: 25px;
  cursor: pointer;
  padding: 2px 7px;
}
#header .headerNotice:hover{
  color: yellow;
}
#header .headerNotice .headerNoticeNum {
  vertical-align: bottom;
  font-size: 15px;
}
#header_logo{
  width: 78px;
  height: 53px;
  position: absolute;
  z-index: 250;
  top:0px;
  left: 0px;
  margin: 8px 0px 0px 20px;
}
#header_profile_image{
  float: right;
  max-height: 35px;
  max-width: 100px;
  margin: 13px 5px 0px 0px;
  border: 1px solid black;
  outline: 1px solid white;
}
#header_submit{
  float: right;
  margin: 10px 30px 0px 0px;
  border: none;
  outline: none;
  color: #8C1914;
  background-color: white;
  padding: 8px 10px;
  width: 150px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.header_Input{
  margin-top: 10px;
  width: 150px;
  height: 38px;
  color: #8C1914;
  outline: none;
  border: 1px solid white;
  padding: 5px 7px;
  float: right;
  border-right: 1px solid #8C1914;
}
#menstruace{
  width: 25px;
  height: 34px;
  border: 1px solid #8C1914;
  outline: none;
  margin: 1px 0px 3px 25px;
  vertical-align: middle;
}
#menstruace_select{
  display:none;
}
nav{
  width: 20%;
  float: left;
}
nav a{
  text-align: right;
  padding: 8px 15px;
  background-color: #8C1914;
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: padding 0.2s;
  -moz-transition: padding 0.2s;
  -ms-transition: padding 0.2s;
  -o-transition: padding 0.2s;
  transition: padding 0.2s;
}
nav a:hover{
  padding: 8px 10px 8px 15px;
  background-color: #860D0A;
}
#navHeadline{
  display: none;
}
#notice{
   position:fixed;
   top:70px;
   right: 0px;
   font-size: 15px;
   background-color: white;
   padding: 20px;
   display:none;
  z-index: 1000;
 }
p{
  margin: 7px 0px;
}
.profil_oldimages{
  background-color: transparent;
  border:none;
  outline: none;
  max-width: 100px;
  max-height: 40px;
  cursor: pointer;
}
.popis_profil{
  margin: 10px 0px 15px 0px;
}
.profil_table td{
  vertical-align: top;
}
.profil_tables{
  width: 60%;
  border-collapse: collapse;
}
.profil_tables td{
  vertical-align: top;
  padding: 4px;
}
.profil_tables .profil_headline{
  font-weight: bold;
  text-align: right;
  width: 200px;
}
#profil_image{
  max-height: 150px;
  max-width: 450px;
  border: 2px solid #860D0A;
  margin-bottom: 5px;
  background-color: black;
  padding: 10px;
}
.selectInput_div select{
  width: 60%;
  height: 35px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
}
.selectInput_div select:focus{
  background-color: rgba(134,13,10,0.1);
}
.selectInput_div_option{
  line-height: 30px;
  background-color: rgba(134,13,10,0.1);
}
#sport_insteadOfSelect{
  display:none;
  margin-top: 5px;
  width: 60%;
  height: 35px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
}
#sport_insteadOfSelect:focus {
  background-color: rgba(134,13,10,0.1);
}
.submit{
  border: none;
  outline: none;
  color: white;
  background-color: #8C1914;
  padding: 8px 10px;
  width: 150px;
  margin: 10px 0px 30px 50px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.submit:hover{
  background-color: #860D0A;
}
.textarea_div_intim{
  margin: 7px 0px 15px 0px;
  width: 100%;
}
.textarea_div_intim textarea{
  height: 75px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
  resize: none;
  width: 100%;
}
.textInput_div{
  margin: 7px 0px 15px 0px;
}
.textInput_div input{
  width: 60%;
  height: 35px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
}
.textInput_div input:focus{
  background-color: rgba(134,13,10,0.1);

}
.textInput_div .submit{
  border: none;
  outline: none;
  color: white;
  background-color: #8C1914;
  padding: 8px 10px;
  width: 150px;
  margin: 10px 0px 30px 0px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  position:relative;
  left: -150px;
  top: 4px;
}
.textareaInput_div{
  margin: 7px 0px 15px 0px;
  width: 60%;
}
.textareaInput_div textarea{
  height: 75px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
  resize: none;
}
.textareaInput_div textarea[name=entry]{
  width: 60%;
  height: 60%;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
  resize: none;
}
.textareaInput_div textarea:focus{
  background-color: rgba(134,13,10,0.1);
}
#textareaInput_div_area{
  width:60%;
}
.textareaInput_div .textarea{
  width: 100%
}
#underLine{
  border-top: 1px dotted #860D0A;
  margin: 20px 0px 10px 0px;
  font-size: 0.8em;
  padding: 5px 0px;
}