.intim_calendar_graf{
	width: 100%;
}
.intim_form_table{
    width: 100%;
}
#intimCalendarNew{
    width: 77% !important;
}
.intim_week_nextANDprevious{
    margin: 0px;
    font-size: 14px !important;
}
.calendar_month .intim_month_nextANDprevious{
	margin: 0px;
	font-size: 14px;
}
.calendar_month{
	font-size: 14px;
}
.button{
	font-size: 14px;
}