#intim_calendar_other{
  display: none;
}
.intim_form_table{
  width: 100%;
  border-collapse: collapse
}
.intim_form_table td{
  vertical-align: top;
}
.intim_form_table_blood{
  width: 50%;
  min-width: 120px;
}
.intim_form_table_blood select{
  width: 100%;
  height: 38px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
}
.intim_form_table_date{
  width: 20%;
  min-width: 100px;
}
.intim_form_table_date input{
  width: 100%;
  height: 38px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
}
.intim_form_table_date input:focus{
  background-color: rgba(134,13,10,0.1);
}
.intim_form_table_temperatur{
  width: 17%;
  min-width: 80px;
}
.intim_form_table_temperatur input{
  width: 100%;
  height: 38px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
}
.intim_form_table_temperatur select{
  width: 100%;
  height: 38px;
  outline: none;
  border: 1px solid #860D0A;
  padding: 5px 7px;
}
.intim_form_table_temperatur input:focus{
  background-color: rgba(134,13,10,0.1);
}
.intim_form_table_submit input{
  border: none;
  outline: none;
  color: white;
  background-color: #8C1914;
  padding: 8px 10px;
  width: 150px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.intim_form_table_blood select:focus{
  background-color: rgba(134,13,10,0.1);
}
.intim_week_blood{
	width: 40px !important;
}
.intim_week_nextANDprevious{
	text-align: center;
	padding: 15px 0px;
	background-color: white;
}
.intim_week_nextANDprevious a{
	text-decoration: none;
	color: gray;
	font-weight: bold;
	display: inline-block;
}
.intim_week_nextANDprevious a:hover{
	text-decoration: underline;
}
.intim_week_nextANDprevious .button{
  color: white;

}
.intim_week_temperatur{
	width: auto;
}
.intim_year_blood_1{
  background-color: #9dff9d;
}
.intim_year_blood_2{
  background-color: #16bb16;
}
.intim_year_blood0{
}
.intim_year_blood1{
  background-color: #ffb2b2;
}
.intim_year_blood2{
  background-color: #ff7f7f;
}
.intim_year_blood3{
  background-color: #ff6666;
}
.intim_year_blood4{
  background-color: #ff4c4c;
}
.intim_year_blood5{
  background-color: #ff1919;
}
.intim_year_blood_forecast{
  background-color: #ffe4b2;
}
.intim_year_blood_forecastOvulation{
  background-color: #92CD00;
}
.intim_year_headTable{
  font-weight: bold;
}
.intim_year_none{
  background-color: lightgray;
}
.intim_calendar_others_img{
	width: 17px;	
}
#intim_year_table{
  width: 60%;
  border-collapse: collapse;
}
#intim_year_table td{
  text-align: center;
  vertical-align: middle;
  width: 3%;
  border: 1px dotted lightgray;
}
#intimCalendarNew{
  position: absolute;
  z-index: 1000;
  background-color: white;
  width: 50%;
  display: none;
  padding: 25px 15px;
  margin: 0px 0px 50px 0px;
}
.intimeYearActiveDay:hover{
  cursor:pointer;
  background-color: rgba(134,13,10,0.2);
}
.textarea_div_intim textarea{
  height: 25px !important;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
.textarea_div_intim textarea:focus{
  height: 75px !important;
}










